*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body{
  overscroll-behavior: none;
  background-color: #080808;
}

main{
  position: fixed;
  background-color: #080808;
  overflow: hidden;
}

.slider{
  position: absolute;
  height: 100%;
}

.slider-inner{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.item{
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.item:hover{
  cursor: pointer;
}

.background{
  position: absolute;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.logo{
  position: absolute;
  width: 75%;
  height: 25%;
  top: 75%;
  left: 12.5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}